

.titleBanner2{
    width:100%;
    height: 30rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bannerTitle{
    margin-top:5rem;
    font-size:3.5rem;
    color:black;
    font-family: Helvetica, "Times New Roman", sans-serif;
    letter-spacing: 0.3rem;
}

.aboutBanner{
    background: white;
    width:80%;
    margin-inline:10%;
    min-height:20rem;
    text-align: center;
    display: flex;
}


.aboutImage{
    height:100%;
    width:90%;
    margin-right:5%;
    margin-block:5vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background: url("./img/collegeofengineering.jpg");
}



.culture{
    display: flex;
    margin-top: 10rem;
    flex-wrap: wrap;
    font-family:var(--main-font);
}


.timelineContainer{
    flex-basis: 40%;
    opacity: 0;

}

.timeline{
    position: relative;
    width: 0.5rem;
    background-color: var(--secondary-color);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;

}

.timelineBar{
    min-width: 2rem;
    height: 0.5rem;
    display: block;
    flex-basis: 100%;
    background-color: var(--secondary-color);
}


.timeline-item{
    flex-basis: 100%;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.timelineHighlight{
    color:var(--fourth-color);
}



.timeline-circle {
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transform: translateY(4rem);
}

.timeline-content {
    padding-left:3rem;
    min-width: 8rem;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-5%);
    transition: transform 0.7s ease, opacity 1.3s ease;
}

.timeline-content:hover{
    transform: translateX(1rem);
}

.cultureInfo{
    text-align: left;
    flex-basis: 30%;
    margin: 4rem 0;
    margin-left:10rem;
    padding:2rem;
    border: 1px solid #333;
    background-color: var(--secondary-color);

    font-size: 1.3rem;
    line-height: 1.6;

    opacity: 0;

    position: relative;

    min-height:20rem;


}

.event{
    font-weight: 800;
    color:white;
}

.new-info {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    color:white;
}


.reveal{
    opacity: 1 !important;
    transform: translateX(0%);
}

.reveal2{
    opacity:1 !important;
    animation: revealWipe 0.8s ease forwards;
}

.reveal3{
    opacity:1 !important;
    animation: revealWipe 0.5s ease forwards;
}

@keyframes revealWipe {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


.carouselContainer{
    width:100%;
    justify-items: center;
    min-height:15rem;

}

#carouselNav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width:60%;
    height:13rem;
    text-align: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    font-size:1.2rem;
    font-family: var(--main-font);
}

.carouselNavSection{
    transition: 0.2s all;
    cursor:pointer;
    font-weight:bold;
}

.highlight{
    color: var(--fourth-color);
}

.carouselNavSection:hover{
    color: var(--fourth-color);
}


.carousel{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    min-height:40rem;
    background-color: var(--primary-color);
    margin-inline:10%;
}

#carouselWrapper{
    width:100%;
    display:flex;
    position:absolute;
    transition: 0.2s all;
}

.fade{
    opacity:0;
}

.center{
    justify-content: center;
    display:flex;
}

#profileImage{
    max-height:65%;
    max-width:80%;
    margin-left:10rem;
    margin-block:5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.leftHeader{
    text-align: left;
    letter-spacing: 0.1rem;
    padding-top:15%;
    padding-inline:10%;
    font-family: var(--main-font);
    font-size:2rem;
}

.leftText{
    text-align: left;
    padding-inline:10%;
    padding-top:4%;
    font-family: var(--main-font);
    font-size:1.5rem;
    line-height:1.5;
}
