

#bottomBar{
    width:100%;
    min-height: 10rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
    padding-block:120px;
    color:var(--primary-color);
}

.bottomContent{
    position: relative;
    width:90%;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.bottomCol{
    text-align: left;
    font-family: var(--main-font);
    font-size:1.3rem;
    line-height:1.5;
}

#bigLogo{
    width:15rem;
    height: auto;
    transition: 0.3s all;
    background-color: transparent;
}

.bottomLink{
    color:white;
    transition: 0.2s all;
}

.bottomLink:hover{
    color:var(--fourth-color);
}


@media(max-width:1024px){
    .bottomCol{
        flex-basis:100%;
        text-align: center;
    }
}
