

#bottomBar{
    width:100%;
    height: 10rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
    padding-block:120px;
    color:var(--primary-color);
}

.bottomContent{
    position: relative;
    width:90%;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: space-around;
}

.bottomCol{
    text-align: left;
    font-family: var(--main-font);
    font-size:1rem;
    line-height:1.5;
}

#bigLogo{
    width:9rem;
    height: auto;
    transition: 0.3s all;
    background-color: transparent;
}
