

#descriptionContainer{
    width:100vw;
    height:40rem;
    top:100vh;
    background-color: #222222;
    color: white;
    position: absolute;
    z-index:6;
    overflow-y: scroll;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.1, 0, 0, 1);
    transition-duration: 1.2s;
}