:root{
    --primary-color: #F1F1F1;
    --secondary-color: #423f61;
    --tertiary-color: #55725d;
    --fourth-color: #8cb27f;
    --fifth-color: #141c17;

    --text-color1: black;
    --text-hover1: gray;

    --main-font: DMSans, "Helvetica Neue", acumin, "Times New Roman", sans-serif;;

    --navbar-height:4rem;
}

@font-face {
    font-family: acumin;
    src: url("./fonts/Acumin-RPro.woff");
}

@font-face{
    font-family:DMSans;
    src: url("./fonts/DMSans-VariableFont_opsz,wght.ttf");
}

html{
    background-color: var(--secondary-color);
}
body{
    background: linear-gradient(var(--primary-color),#e9e9e9);
    margin:0;

}

.testSpace{
    min-height:9rem;
    background-color: var(--secondary-color);
}


.bannerDark{
    width:100%;
    background-color: var(--secondary-color);
    min-height:100rem;

}

.separateBar{
    width:30px;
    height:4px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vw;
}

.encompass{
    opacity:1;
    transition: 0.2s opacity;
}

.fade{
    opacity:0;
}

.fifty{
    flex-basis:50%;
}
