

#navbarBody{
    z-index:999;
    position: fixed;
    top:0;
    left:0;
    width:95%;
    height:var(--navbar-height);
    padding:2rem 2.5%;  
    background-color: white;
    color: var(--text-color1);
    display:flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.25);
    transition: 0.3s all;
    align-items: center;

    font-family: var(--main-font);
    font-weight: 400;
    font-size:1.3rem;
    
}

.shrink{
    padding: 0.3rem 2.5% !important;
    opacity:100% !important;
}

#logo{
    width:7rem;
    height: auto;
    transition: 0.3s all;
    cursor: pointer;
    background-color: transparent;
}
#logo.shrink{
    width:5rem;
}



.navbarItem{
    padding: 0.7rem 1.4rem;
    margin-inline: 1rem;
    cursor: pointer;
    transition:0.2s all;
    border-radius: 10%;

    color:var(--fifth-color);
    text-decoration: none;

}

.navbarItem:hover{
    color:var(--fourth-color);
}


.navbarFocus{
    padding: 0.7rem 1rem;
    margin-inline: 1rem;
    cursor: pointer;
    transition:0.2s all;
    border-radius: 5px;
    background-color: var(--fifth-color);

    color:whitesmoke;
    text-decoration: none;

}

.navbarFocus:hover{
    background-color: var(--fourth-color);
}


#collapsed{
    display: none;
    height:4rem;
    width:4rem;
}

.navbarToggle {
    cursor: pointer;
    height:100%;
    width:100%;
    align-content: center;

}

.hamburgerBar {
    display: block;
    width: 40px;
    height: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    margin: 6px auto;
    border-radius:2rem;
    margin-right:2rem;
}

.navbarToggle:hover .hamburgerBar{
    background-color: var(--fourth-color);
}

.navbarToggle.active .hamburgerBar:nth-child(1){
    transform:translateY(9px) rotate(45deg);
}

.navbarToggle.active .hamburgerBar:nth-child(2){
    opacity: 0;
}

.navbarToggle.active .hamburgerBar:nth-child(3){
    transform:translateY(-9px) rotate(-45deg);
}


@media(max-width:1000px){
    #linkContainer{
        position: absolute;
        width:100%;
        height:200%;
        right:100%;
        top:100%;
        display: grid;
        background-color: var(--primary-color);
        padding-bottom:12%;
        padding-top:12%;

        transition-property: all;
        transition-timing-function: cubic-bezier(0.1, 0, 0, 1);
        transition-duration: 0.4s;
    }

    #linkContainer.active{
        right:0;
    }

    #collapsed{
        display: block;
    }

    :root{
        --navbar-height:5rem;
    }



}

