.markercluster-map {
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .easyDisplay{
    display:grid;
    flex-wrap: wrap;
    text-align: center;
    font-family: var(--main-font);
    width:100%;
    justify-content: center;
  }

  .easyDisplayItem{
    padding: 1rem 1.4rem;
    cursor: pointer;
    transition:0.2s all;
    border-radius: 10%;

    color:var(--fifth-color);
    text-decoration: none;
    font-size:1.3rem;
  }

  .easyDisplayItem:hover{
    color:var(--fourth-color);
  }

  .leaflet-popup-content{
    font-family: var(--main-font);
    font-weight:bolder;
    
  }