.larger{
    font-size:1.8rem;
}

.stepImage1{
    display:block;
    height:90%;
    width:100%;
    margin-block:auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background: url("./img/tempstep1.png");
}

.stepImage2{
    display:block;
    height:70%;
    width:100%;
    margin-block:auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background: url("./img/tempstep2.png");
}

.stepImage3{
    display:block;
    height:70%;
    width:100%;
    margin-block:auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background: url("./img/tempstep3.png");
}

.clearBanner{
    display: flex;
    width:80%;
    padding-inline:10%;
    margin-block:4rem;
}