.fixedBanner{
    margin-top:10rem;
    height:15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.fixedBanner p{
    font-size:3rem;
    width:100%;
    height:10rem;
    margin:0;
    text-align: center;
    padding-top:5rem;
    background-color: #222222;
    opacity:0;
}


#tipTitle.reveal4{
    opacity: 1;
    background-color: rgba(0,0,0,0.55);
    transition: all 1s ease-out;
}

@keyframes revealWipeLeftRight {
    0% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }
    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}



.container {

    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    align-content: center;

}

.box {
    cursor: pointer;

    flex-basis: 40%; /* Adjust the flex-basis of the boxes */
    height: 15rem;
    background-color: #ccc;
    transition: flex-basis 0.3s, height 0.3s;
    margin:0.5rem;
    margin-bottom:2rem;
}

.box:hover {
    flex-basis: 45%;
}